.slick-track {
    display: flex!important;
    gap: 20px!important;
}
.slick-prev:before, .slick-next:before{
    color: #fff;
    font-size: 60px;
    position: absolute;
}
.slick-prev{
    left: 10px;
    z-index: 100000;
    top: 240px;
}
.slick-next{
    right: 70px;
    top: 240px;
}