.containerProductosHome{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.producto1{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    text-align: center;
}
.homeH2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.columna2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    gap: 20px;
}

.producto2, .producto3, .producto4, .producto5{
    background-color: #fff;
    padding: 20px;
    flex-basis: calc(49% - 5px); /* Ajusta el ancho restando el gap */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    gap: 10px;
}
.productH5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.productP{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btnProducts{
    border: 0.2px solid #0000004d;
    padding: 10px 25px;
    border-radius: 30px;
}